body{
    background-image: linear-gradient(to bottom right,#0f193b,#6777b1);
    min-height: 100vh;
}

main{
    display:flex;
    justify-content: center;
    margin-top: 10%;
}

.container{
    background-color: rgb(61, 61, 61);
    height:550px;
    width:350px;
    border-radius: 20px;;
    padding-top: 25px;
}



.display{
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.5em;
    width:85%;
    height:80px;
    margin: auto;
    border-radius: 15px;
    color: white;
    display:flex;
    align-items: center;
    border:none;   
    text-align: right;
}

.display:focus{
    outline:none
}

.keys{
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    width:300px;
    height:400px;
    margin: auto;
    margin-top:35px;
    display: flex;
    flex-wrap: wrap;
}

.keys div:hover{
    background-color: white;
    color:black;
}

/* PRIMEIRA FILEIRA DE TECLAS */
.dotKey, .cKey, .xKey, .divideKey{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.dotKey, .cKey{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 2.9em;
}

/* SEGUNDA FILEIRA DE TECLAS */
.sevenKey, .eightKey, .nineKey, .asteriskKey{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

/* TERCEIRA FILEIRA DE TECLAS */
.fourKey, .fiveKey, .sixKey, .minusKey{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

/* QUARTA FILEIRA DE TECLAS */
.oneKey, .twoKey, .threeKey, .plusKey{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

/* QUINTA FILEIRA DE TECLAS */
.zeroKey{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    height: 60px;
    width:205px;
    border-radius: 10px;
    margin-left: 12px;
    text-align: center;
    cursor: pointer;
}

.equalKey{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    cursor: pointer;
}
