.container{
    background-color: rgb(61, 61, 61);
    height:550px;
    width:350px;
    border-radius: 20px;;
    padding-top: 25px;
}

.display{
    background-color: black;
    width:85%;
    height:80px;
    margin: auto;
    border-radius: 15px;
}

.keys{
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    width:300px;
    height:400px;
    margin: auto;
    margin-top:35px;
    display: flex;
    flex-wrap: wrap;
}

/* PRIMEIRA FILEIRA DE TECLAS */
.ceKey, .cKey, .xKey, .divideKey{
    background-color: green;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.divideKey{
    font-size:4em;
}

/* SEGUNDA FILEIRA DE TECLAS */
.sevenKey, .eightKey, .nineKey, .asteriskKey{
    background-color: green;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
}

/* TERCEIRA FILEIRA DE TECLAS */
.fourKey, .fiveKey, .sixKey, .minusKey{
    background-color: green;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
}

/* QUARTA FILEIRA DE TECLAS */
.oneKey, .twoKey, .threeKey, .plusKey{
    background-color: green;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
}

/* QUINTA FILEIRA DE TECLAS */
.zeroKey{
    background-color: green;
    height: 60px;
    width:205px;
    border-radius: 10px;
    margin-left: 12px;
}

.equalKey{
    background-color: green;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    border-radius: 10px;
}
